:root {
    --nav-drawer-background-color: #6A42D3;
    --nav-drawer-indicator-color: #F5F4F6;
}

.nav_drawer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    min-height: 450px;
    background-color: var(--nav-drawer-background-color);
    border-radius: 20px;

}

.nav_drawer {
    position: relative;
    width: var(--nav_drawer_width);
    height: 350px;
    background-color: var(--nav-drawer-indicator-color);
    border-radius: 10px;
    transition: 0.5s;
}

.nav_drawer ul {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
}

.nav_drawer ul li {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 50px;
    list-style: none;
    cursor: pointer;
}
.nav_drawer ul li:hover {
    background-color: #F0EEF0;
}

.nav_drawer ul li:hover a{
    transform: scale(1.06);
}

.nav_drawer ul li a {
    position: relative;
    text-decoration: none;
    color: var(--nav-drawer-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    transition: 0.5s;
}

.nav_drawer ul li a .nav_drawer_icons {
    font-size: 1.3em;
    color: var(--nav-drawer-background-color);
    margin-right: 1.4em;
    padding: 0 0 0 1.5em;
}

.nav_drawer ul li a .nav_drawer_text{
    font-size: 0.9em;
    text-align: end;
    font-weight: 500;
}

.nav_drawer_indicator{
    position: absolute;
    top: 45.5%;
    right: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: var(--nav-drawer-indicator-color);
    border: 3px solid var(--nav-drawer-background-color);
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
}

.nav_drawer_indicator i{
    font-size: 1.7em;
    color: var(--nav-drawer-background-color);
}

.apin_drwa_buttontrue{transform: rotate(0deg);}
.apin_drwa_buttonfalse{transform: rotate(180deg);}