.spectrumSection,
.loader {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.spectrumSection {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 500px;
    min-height: 500px;
    background: #042104;
    animation: animateBg var(--spectrum_duration) linear infinite;
}

@keyframes animateBg {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.spectrumSection .loader {
    position: relative;
    width: 120px;
    height: 120px;
}

.spectrumSection .loader span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
}

.spectrumSection .loader span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #00ff0a;
    box-shadow: 0 0 10px #00ff0a,
        0 0 20px #00ff0a,
        0 0 40px #00ff0a,
        0 0 60px #00ff0a,
        0 0 80px #00ff0a,
        0 0 100px #00ff0a;
    animation: animate 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
    0% {
        transform: scale(0);
    }

    80%,
    100% {
        transform: scale(0.8);
    }
}