:root {
  --background-color: #222328;
  --indicator-color: #2bfa56;
}

.nested_lists_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 600px;
  min-height: 400px;
  background-color: var(--background-color);
  font-family: "Poppins", sans-serif;
  border-radius: 20px;
}

.nested_lists_container h2 {
  margin: 2em 0 3em 0;
  font-size: 1.5em;
  color: #fff;
}

.nested_lists_content {
  border: 1px solid blue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.nested_lists_content ul {
  list-style: none;
  width: fit-content;

  border: 1px solid red;
}
