:root {
    --full_width_nav_background-color: #2388e0;
    --full_width_background-color: #2E3540;
    --full_width_nav_textColor: #FEFDFF;
    --full_width: 1000;
    --full_width_padding: 0;
    --full_width_indicator: calc(((var(--full_width) - (var(--full_width_padding) * 2)) * 0.60) / 6);
}

.full_width_nav_container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    min-width: calc(1px * var(--full_width));
    min-height: 200px;
    background-color: var(--full_width_background-color);
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
}

.full_width_nav_container .full_width_nav_title {
    color: #FEFDFF;
    margin: 3em;
}

.full_width_nav_container .full_width_nav {
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 0 calc(1px * var(--full_width_padding));
    background-color: var(--full_width_nav_background-color);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    overflow: hidden;
}

.full_width_nav .full_width_nav_logo {
    color: var(--full_width_nav_textColor);
    font-size: 1.4em;
    font-weight: 600;
    cursor: pointer;
}

.full_width_nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 60%;
    height: 100%;
    z-index: 1;
    padding: 0;
    margin: 0;
    z-index: auto;
}

.full_width_nav ul li {

    list-style: none;
    width: 100%;
    height: 100%;
    z-index: 3;

}

.full_width_nav ul li a {
    color: var(--full_width_nav_textColor);
    text-decoration: none;
    font-size: 0.9em;
    text-align: center;
    cursor: pointer;
    transition: 1s;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full_width_nav ul li a:hover {
    transform: translateY(-3px);
}

.full_width_nav #full_width_nav_active {
    color: #6769ff;
}

.full_width_nav_indicator {
    position: absolute;
    left: calc(1px * var(--full_width_indicator) * var(--full_width_index));
    bottom: 0;
    width: calc(1px * var(--full_width_indicator));
    height: 85%;
    background-color: var(--full_width_background-color);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    z-index: 2;
    transition: 0.7s;
}

.full_width_nav_indicator::before {
    content: '';
    position: absolute;
    left: -20px;
    bottom: -3px;
    width: 20px;
    height: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 3px solid var(--full_width_background-color);
    border-right: 3px solid var(--full_width_background-color);
    box-shadow: 0 10px 0 0 var(--full_width_background-color);
}

.full_width_nav_indicator::after {
    content: '';
    position: absolute;
    right: -20px;
    bottom: -3px;
    width: 20px;
    height: 20px;
    border-bottom-left-radius: 20px;
    border-bottom: 3px solid var(--full_width_background-color);
    border-left: 3px solid var(--full_width_background-color);
    box-shadow: 0 10px 0 0 var(--full_width_background-color);
}