.accordion_container {
    width: 500px;
    height: fit-content;
    background-color: var(--slideShow_background_color);
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    padding: 2em 3em;
    /* background-color: #bababa; */
}

.accordion_content h3 {
    color: #000;
}

.accordion_container .accordion_items {
    /* border: 1px solid blue; */
    width: 100%;
}

.accordion_container .accordion_title {
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #5b5b5b3b;
    margin-bottom: 0.5em;
}

.accordion_container .accordion_title i {
    background-color: #000;
    color: #fff;
    font-size: 2em;
    font-weight: 600;
    border-radius: 50%;
    margin: 0.4em 0.6em;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
    transform: rotate(-90deg);
}

.accordion_container .accordion_title:hover i {
    background-color: #E9DA5D;
}

.accordion_container .accordion_title span {
    font-weight: 500;
    font-size: 1em;
}

.accordion_container .accordion_description {
    transition: all 0.7s ease;
    height: 0;
    overflow: hidden;
}

.accordion_container .accordion_description p {
    color: #7f7f7f;
    font-size: 0.9em;
    line-height: 1.2em;
    text-align: start;
    transition: all 0.7s ease;
}

#selected_item .accordion_description {
    height: 100px;
}

#selected_item .accordion_title i {
    transform: rotate(0);
}
