:root {
    --card_style_one_header_color: #4040f4;
    --card_style_one_bottom_color: #fff;
}

.card_component {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    width: 28%;
    border-radius: 25px;
    overflow: hidden;
    z-index: 1;
}

.card_component header,
.card_style_1_container .card_bottom_part {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card_component header {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 40%;
    background-color: var(--card_style_one_header_color);
    z-index: 3;
    background-color: var(--card_style_one_bottom_color);
}
.card_style_1_header_background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--card_style_one_header_color);
    border-radius: 25px 25px 0 25px;
}

.card_component header::after {
    content: '';
    position: absolute;
    bottom: -40px;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: var(--card_style_one_header_color);
}

.card_component header img {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    border: 2px solid white;
    padding: 4px;
    margin: 2em;
    z-index: 1;
}

.card_style_1_container .card_bottom_part {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 60%;
    background-color: var(--card_style_one_bottom_color);
    border-top-right-radius: 25px;
    z-index: 4;
}

.card_style_1_container .card_bottom_part h3 {
    color: #333;
    font-size: 18px;
    margin: 1.5em 0 0 0;
}

.card_style_1_container .card_bottom_part p {
    text-align: center;
    color: #707070;
    font-size: 14px;
    margin: 2em 0 0 0;
    padding: 0 1.5em;
}

.card_style_1_container .card_bottom_part button {
    background-color: #4070f4;
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.card_style_1_container .card_bottom_part button:hover {
    background-color: #2458e8;
    transform: translateY(-1px);
}

.card_style_1_container .card_bottom_part button a {
    text-decoration: none;
    font-size: 0.7em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}