:root {
    --card_style_one_header_color: #4071ED;
    --card_style_one_bottom_color: #E2E2E2;
}

.card_component {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    min-height: 500px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
    border: 0.3px solid var(--card_style_one_bottom_color);
}

.card_component .cover_patch {
    position: absolute;
    top: 45%;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: var(--card_style_one_bottom_color);
    z-index: 2;
}

.card_component header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: var(--card_style_one_header_color);
    border-bottom-left-radius: 35px;
    z-index: 3;
}

.card_component header::after {
    content: '';
    position: absolute;
    bottom: -40px;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: var(--card_style_one_header_color);
}

.card_component header img {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    border: 2px solid white;
    padding: 2.2px;
    margin: 2em;
}

.card_style_1_container .card_bottom_part {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 250px;
    background-color: var(--card_style_one_bottom_color);
    border-top-right-radius: 35px;
    z-index: 4;
}

.card_style_1_container .card_bottom_part h3 {
    color: #000;
    font-size: 1.1em;
    margin: 1.5em 0 0 0;
}

.card_style_1_container .card_bottom_part p {
    text-align: center;
    color: #000;
    font-size: 0.8em;
    margin: 2em 0 0 0;
    padding: 0 1.5em;
}

.card_style_1_container .card_bottom_part button {
    background-color: #3964D2;
    margin: 2em 0 1.5em 0;
    width: 22%;
    min-height: 30px;
    padding: 0;
    border: none;
    border: 0.5px solid var(--card_style_one_header_color);
    transition: 0.8s;
}

.card_style_1_container .card_bottom_part button:hover {
    background-color: var(--card_style_one_bottom_color);
    transform: translateY(-2px);
}

.card_style_1_container .card_bottom_part button:hover a {
    color: #3964D2;
}


.card_style_1_container .card_bottom_part button a {
    text-decoration: none;
    font-size: 0.7em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}