:root {
    --card_style_one_background_color: #cbcbcb;
}

.card_style_1_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 700px;
    background-color: var(--card_style_one_background_color);
    border-radius: 20px;
}

.card_style_1_container h2 {
    color: black;
    margin: 1.5em;
}

.card_style_1 {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    width: 90%;
    min-height: 400px;
    gap: 1.6em;
}