#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.resetButton {
  background-color: #3498db;
  color: #fff;
}

section {
  margin: 10px;
}

.loaders_container{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
}

.loaders_container > *{
  border-radius: 5%;
}